<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>HomeworkWeek2</display-name>

	<!-- 設定容器監聽器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 連結applicationContext.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<!-- 連結servlet-context.xml，啟動順序為2 -->
	<servlet>
		<servlet-name>mvcServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup> 2 </load-on-startup>
	</servlet>
	
	<!-- 掃描mvcServlet內，相關之名稱 -->
	<servlet-mapping>
		<servlet-name>mvcServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>mvcServlet</servlet-name>
	    <url-pattern>*.ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvcServlet</servlet-name>
		<url-pattern>*.inw</url-pattern>
	</servlet-mapping>
	
	<!-- 產生亂數驗證使用者部分，啟動順序為3 -->
	<!-- <servlet>
	    <servlet-name>Captcha</servlet-name>
	    <servlet-class>com.fpg.ec.utility.security.CaptchaServlet</servlet-class>
	    <load-on-startup> 3 </load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Captcha</servlet-name>
	    <url-pattern>/Captcha.do</url-pattern>
	</servlet-mapping> -->
	
	<!-- 資料傳輸成UTF-8編碼 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 驗證管理權限 -->
	<!-- <filter>
		<filter-name>AuthorityControlFilter</filter-name>
		<filter-class>com.fpg.ec.mng.action.AuthorityControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorityControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<!-- 驗證使用者是否重複登入的機制 -->
	<!-- <listener>
		<listener-class>com.fpg.ec.utility.servlet.SessionCounterListener</listener-class>
	</listener> -->
	
	<!-- 設定log4j的部分 -->
	<!-- <listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping> -->
	
	<!-- 依據錯誤代號導向頁面 -->
	<error-page>
		<error-code>400</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/scm/pub/pub_error.jsp</location>
	</error-page>
</web-app>